<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nos.ploy">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Light"
        tools:replace="android:label">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".flow.generic.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".flow.generic.FirstScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <data android:scheme="geeniz" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".flow.generic.register.SignInSignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flow.ployee.home.PloyeeHomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".flow.ployee.profile.PloyeeProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flow.ployer.person.PloyerPersonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flow.ployer.service.PloyerHomeActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/ploy_api_key" />

        <activity
            android:name=".flow.ployer.provider.ProviderProfileActivity"
            android:screenOrientation="portrait" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e08cf40ade59429ace08fe51a26c7facde28a50c" />
    </application>

</manifest>